*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*1 rem = root font size*/
  /*default font size 16px*/
  /*10/16 = 0.625*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}